---
extends: default

rules:
  line-length:
    max: 200
    level: warning
  truthy: disable
  document-start: disable
  comments:
    min-spaces-from-content: 1
  indentation:
    spaces: 2
    indent-sequences: true

ignore: |
  _site/
  vendor/
  .bundle/
  .sass-cache/
