[Unit]
Description=SongketMail Antivirus Service Container
After=network-online.target

[Container]
ContainerName={{ cluster_prefix }}_antivirus
Image=docker.io/clamav/clamav:latest
Pod={{ cluster_prefix }}_pod.pod
Volume={{ storage_base_path }}/antivirus/{{ inventory_hostname }}/data:/var/lib/clamav:Z
Environment=TZ=UTC
Label=fabric_cluster={{ cluster_prefix }}
Label=service_type=antivirus

[Install]
WantedBy=default.target
