[Unit]
Description=SongketMail Database Container (PostgreSQL)
After=network-online.target

[Container]
ContainerName={{ cluster_prefix }}-db
Image=docker.io/library/postgres:16-alpine
Network={{ podman_network_name }}
UserNS=keep-id:uid={{ songketmail_uid }},gid={{ songketmail_gid }}
Volume={{ storage_base_path }}/postgres/data:/var/lib/postgresql/data:Z
Environment=TZ=UTC
Environment=POSTGRES_USER=mail_admin
Environment=POSTGRES_PASSWORD=super_secure_db_pass
Environment=POSTGRES_DB=mailserver
Label=fabric_cluster={{ cluster_prefix }}
Label=service_type=db

[Install]
WantedBy=default.target
