[Unit]
Description=SongketMail Mail Delivery Agent Container (Dovecot)
After=network-online.target

[Container]
ContainerName={{ cluster_prefix }}-dovecot
Image=docker.io/library/dovecot:latest
Network={{ podman_network_name }}
UserNS=keep-id:uid={{ songketmail_uid }},gid={{ songketmail_gid }}
Volume={{ storage_base_path }}/dovecot/config:/etc/dovecot:Z
Volume={{ storage_base_path }}/dovecot/indexes:/var/vmail/indexes:Z
Volume={{ storage_base_path }}/dovecot/cache:/var/vmail/cache:Z
Environment=TZ=UTC
Label=fabric_cluster={{ cluster_prefix }}
Label=service_type=dovecot

[Install]
WantedBy=default.target
