[Unit]
Description=SongketMail Smallstep Private CA Container (X.509, SSH & ACME Server)
After=network-online.target

[Container]
ContainerName={{ cluster_prefix }}-smallstep
Image=docker.io/smallstep/step-ca:{{ smallstep_image_tag }}
Network={{ podman_network_name }}
UserNS=keep-id:uid={{ songketmail_uid }},gid={{ songketmail_gid }}
Volume={{ storage_base_path }}/smallstep/config:/home/step/config:Z
Volume={{ storage_base_path }}/smallstep/data:/home/step/db:Z
PublishPort=9000:9000
Environment=TZ=UTC
Environment=DOCKER_STEPCA_INIT_NAME=SongketMail Private CA
Environment=DOCKER_STEPCA_INIT_DNS_NAMES=localhost,ca.songketmail.internal
Environment=DOCKER_STEPCA_INIT_PROVISIONER_NAME=admin@songketmail.internal
Label=fabric_cluster={{ cluster_prefix }}
Label=service_type=smallstep

[Install]
WantedBy=default.target
